@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&family=Roboto:wght@100&display=swap");
.island {
  width: 100%;
  height: 1400px;
  max-height: 1400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.island__heading {
  width: 1106.46px;
  height: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #3a3a3a;
  margin: 0 auto;
}
.island__paragraph {
  width: 1106.46px;
  height: 44px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #5a5a5a;
  margin: 0 auto;
  padding-top: 16px;
}

.island__pack {
  width: 392px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 64px 32px 24px 32px; */
  margin: 64px 20px;
}
.island__pack:first-child {
  width: 392px;
  height: 408px;
}
.island__pack--details {
  display: flex;
  flex-direction: column;
}
.island__pack--details > :nth-child(1) {
  width: 85px;
  height: 28px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #3a3a3a;
  margin: 16px 0 8px 0;
}
.island__pack--details > :nth-child(2) {
  width: 100%;
  height: 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #5a5a5a;
  margin: 0;
}
.island__pack--rating {
  width: 100%;
  height: 29.46px;
  margin-top: 17.46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.island__pack--rating img {
  width: 24.81px;
  height: 19.6px;
  margin-right: 2px;
}
.island__pack--rating p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  flex: 0.9;
}
.island__pack--rating p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.island__pack--rating p span {
  font-weight: 300;
  padding-left: 2px;
  color: #000000;
}
.island__pack--rating button {
  margin-left: 25%;
  width: 121px;
  height: 33px;
  background: #3282ad;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #ffffff;
}
